// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#banner {
background: #6d7fa7;
padding-top:
10px;
padding-bottom:
10px;
border-bottom:
2px solid;
font: smallcaps
40px/40px "Times New Roman", serif;
color: white;
text-align:
center;
}
#banner img {
float: left;
}
#columns {
background: #102b66;
}
#main {
margin-left:
17em;
padding-top:
4ex;
padding-left:
2em;
background: #ED8516;
}
#side {
float: left;
paddin-gtop:
1em;
padding-left:
1em;
padding-bottom:
1em;
width: 16em;
background:#102b66;
}
#side a {
color: white;
fontsize:
small;
}